<h2><%= @event.title %></h2>
<h3><%= @event.lokasi %></h3>
<h3>Category: <%= @event.category.name %></h3>
<h3><%= @event.jenis %></h3>
<p><%= @event.deskripsi %></p>
<%= link_to "Back", root_path %>

<% if user_signed_in? %>

<% if @event.user_id == current_user.id %>

<%= link_to "Edit", edit_event_path(@event) %>
<%= link_to "Delete", event_path(@event), method: :delete, data: { confirm: "apa kamu akan menghapus ini?"} %>
<% end %>
<% end %>
